.app-content {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  background-color: aquamarine;
}

.app--content {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

